* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    overflow: hidden;
}

.slide-track {
    display: flex;
    animation: slider 10s linear infinite;
    width: calc(200px * 14);
}



img {
    width: 200px;
    height: 200px;
    object-fit: contain;
transform: scale(.6);
border-radius: 100%;

}

@keyframes slider {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(calc(-200px * 7));
    }
}